<div class="p-grid">
    <!--linha 1 -->
    <div class="p-col-2">
      <h4>SYS</h4>  
    </div>
    <div class="p-col-10">
        <p-toolbar>
            TITULO DA JANELA 
        </p-toolbar>
        
    </div>

     <!--linha 2 -->
    <div class="p-col-2">
        <p-accordion>
            <p-accordionTab header="Cadastro">
                <ul>
                    <li><a href=""></a></li>
                    <li><a href="">das</a></li>
                    <li> <a href="">das</a></li>
                </ul>
              
              
             
              
            </p-accordionTab>
            <p-accordionTab header="Financeiro">
                Content 2
            </p-accordionTab>
            <p-accordionTab header="Comercial">
                Content 3    
            </p-accordionTab>
        </p-accordion>
    </div>
    <div class="p-col-10">
        <router-outlet></router-outlet>
       <!-- <app-position></app-position>-->
    </div>
     <!--linha 3 -->
     <div class="p-col-2">

    </div>
    <div class="p-col-10">
        <p-toolbar>
            <div class="p-toolbar-group-left">
               
            </div>
            <div class="p-toolbar-group-right">
                wislla
            </div>
        </p-toolbar>
    </div>
</div>
